h2 {
    color: chocolate;
}


button {
    padding: 5px 10px;
    cursor: pointer;
}

.image-strip {
    display: flex;
    gap: 150px;
    padding: 10px;
}

.image-strip img {
    width: 200px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    border: 1px solid blue;
    padding: 5px;
}