<div class="center-box">
  <h2>Registration</h2>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <label>
      Name:
      <input type="text" formControlName="name">
    </label>

    <label>
      Username:
      <input type="text" formControlName="username">
    </label>

    <label>
      Password:
      <input type="password" formControlName="password">
    </label>

    <label>
      Role:
      <select formControlName="role">
        <br>
        <option value="">Select Role</option>
        <option value="Admin">Admin</option>
        <option value="Customer">Customer</option>
        <option value="Delivery Agent">Delivery Agent</option>
      </select>
    </label>

    <label>
      Email Id:
      <input type="email" formControlName="email">
    </label>

    <label>
      Phone no:
      <input type="text" formControlName="phoneNum">
    </label>
    <div *ngIf="registerForm.get('phone')?.invalid && registerForm.get('phone')?.touched" style="color:red">
  Phone number must be 10 digits.
    </div>
    <button type="submit" [disabled]="registerForm.invalid">Register</button>
  </form>

  <p *ngIf="successMsg" style="color:green">{{ successMsg }}</p>
  <p *ngIf="errorMsg" style="color:red">{{ errorMsg }}</p>

  <p class="register-link">
    Already have an account? <a routerLink="/login">Login here</a>
  </p>
</div>
